# for local development
DATABASE_URL=postgresql+asyncpg://hospitality_user:hospitality_pass@localhost:5432/hospitality_db

# for docker-compose (db is the service name)
# DATABASE_URL=postgresql+asyncpg://hospitality_user:hospitality_pass@db:5432/hospitality_db

SECRET_KEY=a-random-secret-key-to-be-changed-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=60
DEBUG=True